body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
}

.discribe {
    font-size: 16px;
    text-align: center;
}

.bulb_location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.switchboard {
    margin-top: 50px;
    text-align: center;
}

.light_on {
    margin-right: 20px;
    font-size: 16px;
    width: 120px;
    height: 40px;
    background-color: cornflowerblue;
    color: beige;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.light_off {
    margin-left: 20px;
    font-size: 16px;
    width: 120px;
    height: 40px;
    background-color: cornflowerblue;
    color: beige;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.light_on:hover {
    background-color: rgba(136, 247, 25, 0.618);
    color: darkblue;
}

.light_off:hover {
    background-color: rgba(230, 21, 21, 0.488);
    color: darkblue;
}